<mat-sidenav-container class="dashboard-container" [hasBackdrop]="hasBackdrop">
    <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened">
        <div class="sidenav-brand">
            <h1>Dashboard Kit</h1>
            <mat-icon class="btn-close-sidenav" aria-hidden="false" aria-label="Close" *ngIf="hasBackdrop" (click)="sidenav.toggle()">close</mat-icon>
        </div>
    
        <nav>
            <ul>
                <div *ngFor="let route of sidenavRoutes; index as i">
                    <a routerLinkActive="active" [routerLink]="route.route">
                        <li>
                        <mat-icon aria-hidden="false">{{ route.icon }}</mat-icon>
                        {{ route.name }}
                        </li>
                    </a>
                    <hr *ngIf="i == 5">
                </div>
            </ul>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <mat-icon class="btn-open-sidenav" aria-hidden="false" aria-label="Menu" *ngIf="hasBackdrop" (click)="sidenav.toggle()">menu</mat-icon>
                <h1>Overview</h1>
                <span class="navbar-spacer"></span>
                
                <div>
                    <mat-icon aria-hidden="false" aria-label="Search">search</mat-icon>
                    <mat-icon aria-hidden="false" aria-label="Notifications">notifications</mat-icon>
                    <hr>
                    <span *ngIf="!hasBackdrop">{{ user.name }}</span>
                    <img [src]="user.image" alt="">
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="cards-grid">
            <div class="cards-grid-content" *ngFor="let data of cardsData">
                <h3>{{ data.title }}</h3>
                <span>{{ data.value }}</span>
            </div>
        </div>

        <div class="charts-grid">
            <div class="charts-grid-content">
                <div class="charts-legend">
                    <h3>Today's trends</h3>
                    <div>
                        <div>
                            <span>{{ dateTime }}</span>
                        </div>
                        <div>
                            <hr>
                            <span>Today</span>
                            <hr>
                            <span>Yesterday</span>
                        </div>
                    </div>
                </div>

                <div class="charts">
                    <canvas 
                        baseChart
                        chartType="line"
                        [datasets]="lineChartTeste.data"
                        [labels]="lineChartTeste.labels"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [options]="lineChartOptions"></canvas>
                </div>
            </div>
            <div class="charts-grid-info">
                <div *ngFor="let info of chartInfo">
                    <h4>{{ info.title }}</h4>
                    <span>{{ info.value }}</span>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>